body {
    background: url('fundo.jpg')  no-repeat center center;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    
}

header {
    background-color: #004d99;
    color:white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}
nav ul {
    list-style:none;
    padding:0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.banner {
    background: url('banner.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    color: white;
}
section {
    padding: 20px;
    margin: 0 10px;
}

.book-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0,3s ease,box-shadow 0,3s ease;

}
.book-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.book-card img {
    width: 100%;
    border-radius: 8px;
}

#events{
    background-color: rgba(255, 255, 255, 0.8);
}

#about {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0,3s ease,box-shadow 0,3s ease;

}

h2 {
    color:white;
    text-align: center;
}

footer {
    background-color: green;
    padding: 10px;
    text-align: center;
    color: white;
}

footer p {
    margin: 5px 0;
}